# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.egg-info/
*.egg

# VS Code
.vscode/

# OS
.DS_Store 
Thumbs.db

# Logs
*.log

# Test
*.coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Misc
*.sqlite3
*.db

# Legacy
legacy/__pycache__/
