[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
fastapi = "==0.116.1"
uvicorn = "==0.35.0"
pydantic = "==2.11.7"
pydantic-settings = "==2.10.1"
pandas = "==2.3.2"
pandasql = "==0.7.3"
tinydb = "==4.8.2"
scikit-learn = "==1.7.1"
tensorflow = "==2.20.0"
openai = "==1.90.0"
matplotlib = "==3.10.5"
seaborn = "==0.13.2"
pyod = "==2.0.5"
joblib = "==1.5.2"
skforecast = "==0.18.0"
torch = {version = "*", index = "downloadpytorch"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
