[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pandas = "*"
vllm = "*"
openai = "*"
psycopg2-binary = "*"
matplotlib = "*"
seaborn = "*"
joblib = "*"
scikit-learn = "*"
tensorflow = "*"
tabulate = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
